  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Libre+Franklin:wght@400;700&family=Nunito:wght@200&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Rubik:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Libre+Franklin:wght@400;700&family=Nunito:wght@200&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Rubik:wght@500&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;
  }

  .container {
      width: 90%;
      margin: 0 auto;
  }

  .header {
      width: 100%;
      height: 90px;
      border-bottom-color: 1px solid #E6E6E6;
  }

  .header .header_navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .header .header_navigation .header_navigation-item {
      list-style: none;
      display: flex;
  }

  .header .header_navigation .header_navigation-item .header_navigation-items {
      margin: 20px;
  }

  .header .header_navigation .header_navigation-item .header_navigation-items a {
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #000000;
      text-decoration: none;
  }

  .hero {
      width: 100%;
      height: 90vh;
      display: flex;
      justify-content: space-between;
  }

  .hero .hero_aside {
      margin-left: 50px;
  }

  .hero .hero_aside h6 {
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #999999;
  }

  .hero .hero_aside h1 {
      width: 90%;
      margin-top: 10px;
      font-family: 'Tenor Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      text-transform: uppercase;
      color: #000000;
  }

  .hero .hero_aside p {
      width: 95%;
      margin-top: 20px;
      font-family: 'Source Serif Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #666666;
      letter-spacing: 1px;
  }

  .hero .hero_aside b {
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #000000;
      line-height: 105px;
  }

  .latest .latest_item,
  .about .about_item h4 {
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #999999;
      margin-top: 50px;
  }

  .latest .latest_item .latest_items {
      width: 33%;
      display: inline-block;
      margin-top: 50px;
  }

  .latest .latest_item .latest_items p {
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #999999;
      margin-top: 15px;
  }

  .latest .latest_item .latest_items h1 {
      width: 95%;
      font-family: 'Tenor Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      color: #000000;
      margin-top: 20px;
  }

  .latest .latest_item .latest_items a {
      text-decoration: none;
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #000000;
      line-height: 40px;
  }

  .latest .latest_item .latest_itemss {
      width: 24%;
      display: inline-block;
      margin-top: 50px;
  }

  .latest .latest_item .latest_itemss img {
      width: 100%;
  }

  .latest .latest_item .latest_itemss p {
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #999999;
      margin-top: 15px;
  }

  .latest .latest_item .latest_itemss h1 {
      width: 95%;
      font-family: 'Tenor Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      color: #000000;
      margin-top: 20px;
  }

  .latest .latest_item .latest_itemss a {
      text-decoration: none;
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #000000;
      line-height: 40px;
  }

  .latest .btn {
      display: flex;
      justify-content: center;
      margin-top: 50px;
  }

  .latest .btn button {
      width: 205px;
      height: 55px;
      background: #FFFFFF;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 1px solid #000000;
      border-radius: 0px;
      cursor: pointer;
  }

  .about .about_item .about_itemss {
      width: 49%;
      display: inline-block;
      margin-top: 50px;
  }

  .about .about_item .about_itemss img {
      width: 100%;
  }

  .about .about_item .about_itemss p {
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #999999;
      margin-top: 15px;
  }

  .about .about_item .about_itemss h1 {
      width: 95%;
      font-family: 'Tenor Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      color: #000000;
      margin-top: 20px;
  }

  .about .about_item .about_itemss a {
      text-decoration: none;
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #000000;
      line-height: 40px;
  }

  .footer {
      width: 100%;
      height: 620px;
      background-color: #141414;
      margin-top: 50px;
  }

  .footer .footer_brend {
      display: flex;
      padding-top: 50px;
      align-items: center;
  }

  .footer .footer_brend p {
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #666666;
      margin-left: 20px;
  }

  .footer .span {
      display: flex;
      justify-content: space-between;
      margin-left: 15px;
      margin-top: 50px;
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #666666;
  }

  .footer .footer_center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
  }

  .footer .footer_center ul {
      list-style: none;
  }

  .footer .footer_center ul li {
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      cursor: pointer;
      margin: 20px;
  }

  .footer .footer_center form input {
      width: 220px;
      height: 45px;
      outline: none;
      background: #FFFFFF;
      border: 1px solid #CCCCCC;
      padding: 15px;
  }

  .footer .footer_center form button {
      width: 80px;
      height: 45px;
      border: none;
      background: #000000;
      color: #FFFFFF;
      text-transform: uppercase;
      cursor: pointer;
  }

  .footer .footer_bottom {
      width: 50%;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      margin-left: 15px;
  }

  .footer .footer_bottom ul {
      list-style: none;
  }

  .footer .footer_bottom ul b {
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #666666;
  }

  .footer .footer_bottom ul li {
      margin-top: 10px;
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      cursor: pointer;
  }